* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 89vh;
    background-image: url(img/photo.jpg);
    background-repeat: repeat;
    background-position: right;
    background-size: cover;
}

#page {
    width: 500px;
    height: 65vh;
    background-color: white;
    margin: auto;
    margin-top: 85px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
}

@media screen and (max-width:450px) {
    #page {
        width: 84%;
        margin-top: 0;
        height: 100.3%;
    }
    
    body {
        background-color: white;
        height: 91vh;
        width: 100%;
    }

    input {
        max-width: 250px;
    }

    div#camp {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5em;
    }
}

#camp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 35px 0px 15px 0px;
}

a {
    color: black;
}

h1 {
    text-align: center;
    padding: 15px 0px 15px 0px;
    font-size: 200%;
}

p {
    text-align: center;
    margin-bottom: 15px;
    margin-bottom: 2em;
}

input {
    height: 1.3em;
    border-radius: 5px;
    border: 1px solid black;
    text-align: left;
    padding: 5px;
    margin-top: 0.4em;
    margin-bottom: 1em;
}

a {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

button {
    padding: 15px 100px 15px 100px;
    margin-top: 4em;
    background-color: #E33F84;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    transition: all linear 160ms;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    transform: scale(1.05);
    background-color: #ff0676;
}